.button {
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 50px;
	border: 3px #000 solid;
	border-radius: 10px;
	background: yellow;
	cursor: pointer;
	color: blue;
	transition: 2s;
	text-align: center;
	padding-top: 2%;
	font-family: sans-serif;
}
.button:hover {
	background: green;
	color: yellow;
}
.button:active {
	background: brown;
	color: #fff;
}
.cat {
	position: absolute;
	right: 80%;
	transition: all 2s ease-in-out;
	top: 30%;
}
.picture:hover .cat {
	transform: translate(100%,0);
}
.auto {
	width: 100%;
	height: 155%;
	position: absolute;
	top: 190%;
	background-image: url('bg.jpg');
	background-size: cover;
	z-index: 2;
}
.auto img {
	position: relative;
	width: 20%;
	top: 85%;
	animation-name: movement;
    animation-duration: 4s;
    animation-delay: 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	cursor: pointer;
	animation-fill-mode: forwards;
 }
.auto img:hover {
	animation-play-state: paused;
}
@keyframes movement {
		0% {left:0%;}
		50% {left:80%;}
		100% {left:40%;}
	}